.header{
    padding: 0;
    
}
.wrapper{
    background-color: #181511;
    padding: 14px 100px;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    color: var(--title-s-color);

}
.nav__link{
    height: 100%;
    padding: 30px 0;
    font-weight: 400;
    font-size: 11px;
    line-height:calc(24 / 11);
    text-transform: uppercase;
    color: #ACA592;
    transition: var(--transition-function);
    &::after{
        content: "";
        display: block;
        
        width: 0%;
        height: 1px;
        background-color: #FFAE2B;
        transition: var(--transition-function);
    }
    &:hover::after{
        width: 100%;
    }
    &:hover{
        color: #FFAE2B;
    }

}
.nav-list{
      display: grid;
      grid-auto-flow: column;
      align-items: center;
      justify-items: center;
      gap: 40px;
}
.nav__item{
}
.button{
    width: 147px;
    height: 42px;
    background-color: transparent;
    border: 1px solid #FFAE2B;

    font-weight: 400;
font-size: 11px;
line-height: 22px;
text-align: center;
text-transform: uppercase;
color: #FFAE2B;
cursor: pointer;
transition: var(--transition-function);
&:hover{
    background-color: #FFAE2B;
;
    color: #181511;
}
}